body{
    main{
        .library{
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;
            
            justify-items: center;
           
            margin-top: 10px;
            border: #f32f2f 1px solid;
            padding: 10px;

            .library__tittle{
                align-self: self-start;
                color: #f32f2f;
            }
        }
    }
}