
body{

    
    .head{

        background-color: #f32f2f;
        align-content: center;
        
        .head__titulo{
            color: #000;
            font-weight: 600;
            text-align: center;
            
        }
    }
    main{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        
        .contenedor{
            width: 300px;
            margin-top: 10px;
            border: #f32f2f 1px solid;
            padding: 10px;
            .artista{
                text-align: center;
                font-size: 16px;
                
            }

            .cancion{
                font-size: 12px;
                font-weight: 400;
            }

            .time{
                font-size: 10px;
                text-align: end;
            }
        }
    }
}


